@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Commons Pro";
  src: url("../font/TTCommonsPro-Lt.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Pro";
  src: url("../font/TTCommonsPro-Rg.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Pro";
  src: url("../font/TTCommonsPro-Md.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Pro";
  src: url("../font/TTCommonsPro-Db.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "ABC Helveesti";
  src: url("../font/ABCHelveesti-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 500;
  font-display: swap;
}

@font-face {
  font-family: "ABC Helveesti";
  src: url("../font/ABCHelveesti-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600 700;
  font-display: swap;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#252828] font-sans text-ink antialiased;
  }
}
